*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
vendor
.bundle
fastlane/README.md
fastlane/report.xml
fastlane/metadata/android/screenshots.html
fastlane/metadata/android/**/images/screenshots/
.fdroid-submission